@import "tailwindcss";

body {
  background-color: var(--color-gray-800);
}

/* Cursor */
.cursor {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
}
/* Animation */
.typewriter-animation {
  animation:
    typewriter 5s steps(50) 1s 1 normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@keyframes blinkingCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
